.App {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.App form div {
  margin: 1rem;
}

.App form label {
  margin-left: 1rem;
  font-weight: bold;
}

.App form input {
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid black;
}

.App form input:focus {
  outline: 0;
}

.generateButton {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
